*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main: #d93636;
  --secondary: #d93663;
  --clean: #fff;
  --card-background: #ABA361;
  --text: #EFF7CF;
  --container: #732C2C;
  --white: #fff;

}

body{
  font-family: 'Montserrat';
  background-color: #420C14;
}

.root{
  display: flex;
  justify-content: center;
  align-items: center;
}